@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  /* max-width: 1440px;
  margin: 0 auto; */
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-shadow {
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

.font-Bricolage-Grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
}
.bg-welcome {
  background: url(../img/bg-image.png);
  background-position: top;
  background-repeat: no-repeat;
}
